<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="FSharp.Charting" version="0.90.5" targetFramework="net45" />
  <package id="FSharpx.Core" version="1.8.41" targetFramework="net45" />
  <package id="FSPowerPack.Community" version="3.0.0.0" targetFramework="net45" />
  <package id="FSPowerPack.Core.Community" version="3.0.0.0" targetFramework="net45" />
  <package id="FSPowerPack.Linq.Community" version="3.0.0.0" targetFramework="net45" />
  <package id="FSPowerPack.Metadata.Community" version="3.0.0.0" targetFramework="net45" />
  <package id="FSPowerPack.Parallel.Seq.Community" version="3.0.0.0" targetFramework="net45" />
  <package id="ILNumerics" version="3.3.2.0" targetFramework="net45" />
  <package id="ILNumerics.Native" version="3.2.0" targetFramework="net45" />
</packages>